<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MileageCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2236E8121F5DF6A200446D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2236E8261F5DF6A200446D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2236E8311F5DF6A200446D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
